<form [formGroup]="form" style="display: flex;flex-direction: column;">
  <label for="movingAverageFactor">Moving Average Factor</label>
  <input id="movingAverageFactor" type="number" formControlName="movingAverageFactor" />
  <label for="poolAddress">Pool Address</label>
  <input id="poolAddress" type="text" formControlName="poolAddress" />
</form>

<button (click)="renderChartCommon()">Render chart (general)</button>
<button (click)="renderChartWethFees()">Render chart (WETH/Fees)</button>
<div [formGroup]="formWethFeesWethPoolSize">
  <button (click)="renderChartWethFeesWethPoolSize()">Render chart (WETH in Pool + WETH/Fees)</button>
  @if (chartType === ChartType.WethFeesWithWethPoolSize)
  {
    <!-- Dropdown select to choose linear or logarithmic -->
    <select formControlName="scaleType" (change)="changeChartType()">
      <option ngValue="linear">Linear</option>
      <option ngValue="logarithmic">Logarithmic</option>
    </select>
  }
</div>
<canvas #canvas></canvas>
